@use '../../style' as s;

main {
  .calculator {
    width: 300px;
    background-color: black;
    border-radius: 20px;
	color: white;
	display: grid;
	gap: 30px;
	padding: 20px;
  }

  .display{
	background-color: wheat;
	color: black;
	border-radius: 10px;
	text-align: end;
	padding: 10px;
	height: 40px;
	font-size: 24px;
  }

  .buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
	gap: 10px;
	padding: 0 20px;

	font-size: 24px;
  }

  .buttons--big{
	grid-template-columns: repeat(2, 1fr);
  }

  button {
    color: white;
    // width: 60px;
    height: 40px;
    background-color: gray;
    border-radius: 20px;
  }
}
